/*  Código base genérico para el sticky footer
    http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/  */

/*  Otra forma de lograr el sticky footer fácilmente mediante Flex en lugar de Rows
    http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/        */

html, body {
    height: 100%;
    margin: 0pt;
}

.Frame {
    display: table;
    height: 100%;
    width: 100%;
}

.Row {
    display: table-row;
    height: 1px;
}

.Row.Expand {
    height: auto;
}

/* ------------------------------------------- */
/* Contenido - Cabecera */

#cabecera {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 15px;
}

#cabecera form {
    margin-top: 20px;
}

#cabecera img {
    width: 400px;
    border-radius: 20px;
}

#cabecera button {
    border: 1px solid rgba(177, 145, 146, 0.86);
    border-radius: 3px;
    margin-top: 16px;
    background-color: white;
    width: 130px;
    height: 25px;
}

#cabecera input {
    padding-right: 8px;
    padding-left: 8px;
    width: 500px;
    height: 25px;
    border: 1px solid rgba(93, 74, 75, 0.23);
}

#cabecera input:focus, #cabecera input:hover:focus {
    outline: 0;
    border-color: cornflowerblue;

}

#cabecera input:hover {
    border-color: rgba(0, 0, 0, 0.32);

}

/* ------------------------------------------- */
/* Footer */

footer {
    text-align: center;
}

#footer-inner {
    padding: 10px;
    background-color: #bbb;
    background-image: linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -o-linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.23, rgb(153, 153, 153)), color-stop(0.82, rgb(187, 187, 187)));
}

.newspaper {
    height: 40px;
}

footer ul {
    display: inline-flex;
    margin: 0;
}

footer li {
    margin: 0 50px;
}

footer ol, footer ul {
    list-style: none outside none;
}

img.greyscale {
    -webkit-filter: grayscale(100%);
    filter: url("filters.svg#grayscale"); /* Firefox */
    filter: gray; /* IE9 */
    filter: grayscale(100%);
}

img.greyscale:hover {
    transition: all 1s ease-out; /* W3C */
    filter: none; /* IE */
    filter: url("filters.svg#color"); /* Firefox */
    -webkit-filter: grayscale(0%);
}