/*  Código base genérico para el sticky footer
    http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/  */

/*  Otra forma de lograr el sticky footer fácilmente mediante Flex en lugar de Rows
    http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/        */

html, body {
    height: 100%;
    margin: 0pt;
}

.Frame {
    display: table;
    height: 100%;
    width: 100%;
}

.Row {
    display: table-row;
    height: 1px;
}

.Row.Expand {
    height: auto;
}

/* ------------------------------------------- */
/* Cabecera */

header {
    background-color: #f0f0f0;
}

#header-inner {
    margin: 10px 15px;
    display: inline-block;
}

#header-inner img {
    margin-right: 20px;
    height: 45px;
    border-radius: 5px;
    vertical-align: middle;
}

#header-inner form {
    display: inline-block;
}

#header-inner input {
    padding-right: 8px;
    padding-left: 8px;
    width: 500px;
    height: 25px;
    border: 1px solid rgba(93, 74, 75, 0.23);
    vertical-align: middle;
}

#header-inner input:focus, #header-inner input:hover:focus {
    outline: 0;
    border-color: cornflowerblue;

}

#header-inner input:hover {
    border-color: rgba(0, 0, 0, 0.32);
}

#header-inner button {
    height: 29px;
    width: 29px;
    background: url('../img/search.png') no-repeat;
    border: none;
    background-size: 29px auto;
    vertical-align: middle;
    padding: 0;
}

/* ------------------------------------------- */
/* Contenido */

#contenido-inner {
    font-family: arial, sans-serif;
    padding-left: 20px;
}

.fecha {
    font-size: 14px;
    color: darkgrey;
    float: left;
    padding-top: 2px;
}

#resultados ul {
    list-style: none outside none;
    padding: 0;
}

#resultados li {
    margin-bottom: 35px;
}

#sin_resultados {
    margin-top: 60px;
}

.titulo_noticia {
    font-size: 17px;
    margin-left: 27px;
}

.url_noticia {
    color: #006621;
    font-style: normal;
    font-size: 15px;
    margin-left: 140px;
}

#resumen {
    padding: 15px 0px 15px 160px;
    color: #999999;
    border-bottom: 1px solid;
    border-color: #e9e9ed;
    font-size: 12px;
}

/* ------------------------------------------- */
/* Paginación */

#pagination {
    text-align: center;
    padding-bottom: 25px;
    font-family: arial, sans-serif;
}

#pagination img {
    width: 20px;
    vertical-align: middle;
    margin: 0px 20px;
}

/* ------------------------------------------- */
/* Footer */

footer {
    text-align: center;
}

#footer-inner {
    padding: 10px;
    background-color: #bbb;
    background-image: linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -o-linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(153, 153, 153) 23%, rgb(187, 187, 187) 82%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.23, rgb(153, 153, 153)), color-stop(0.82, rgb(187, 187, 187)));
}

.newspaper {
    height: 40px;
}

footer ul {
    display: inline-flex;
    margin: 0;
}

footer li {
    margin: 0 50px;
}

footer ol, footer ul {
    list-style: none outside none;
}

img.greyscale {
    -webkit-filter: grayscale(100%);
    filter: url("filters.svg#grayscale"); /* Firefox */
    filter: gray; /* IE9 */
    filter: grayscale(100%);
}

img.greyscale:hover {
    /*-webkit-transition: all 0.5s ease-out;*/
    /*-moz-transition: all 1s ease-out;*/
    /*-ms-transition: all 1s ease-out;*/
    transition: all 1s ease-out; /* W3C */
    filter: none; /* IE */
    filter: url("filters.svg#color"); /* Firefox */
    -webkit-filter: grayscale(0%);
}