<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}{% block style_css %}{% endblock %}">
</head>

<body class="Frame">
    <header class="Row">{% block header %}{% endblock %}</header>
    <div class="Row Expand">{% block contenido %}{% endblock %}</div>
    <footer class="Row">{% block footer %}{% endblock %}</footer>
</body>

</html>