{% extends 'base.html' %}

{% block title %}{{ busqueda }} - Buscar con Football News{% endblock %}

{% block style_css %}css/search.css{% endblock %}

{% load tz %}

{% block header %}
    <div id="header-inner">
        <a href="{% url 'index' %}"><img src="{{ STATIC_URL }}img/banner.png"/></a>

        <form>
            <input name="q" id="busqueda" value="{{ busqueda }}"/>
            <button type="submit"/>
        </form>
    </div>
{% endblock %}

{% block contenido %}
    <div id="resumen">
        Se muestra{{ resultados|pluralize:"n" }} {{ resultados|length }} de {{ num_resultados }}
        resultado{{ resultados|pluralize }} encontrado{{ resultados|pluralize }} ({{ segundos }} segundos)
    </div>
    <div id="contenido-inner">
        {% if not resultados %}
            <div id="sin_resultados">
                La búsqueda de <strong>{{ busqueda }}</strong> no obtuvo ningún resultado.<br><br>
                Sugerencias:<br>
                <ul>
                    <li>Comprueba que todas las palabras están escritas correctamente.</li>
                    <li>Intenta usar otras palabras.</li>
                    <li>Intenta usar palabras más generales.</li>
                </ul>
            </div>
        {% endif %}
        <div id="resultados">
            <ul>
                {% for tupla in resultados %}
                    {% with url=tupla.0 titular=tupla.1.0 fecha=tupla.1.1 %}
                        <li>
                            {% timezone "Europe/Madrid" %}
                                <span class="fecha">{{ fecha|date:"SHORT_DATE_FORMAT" }} {{ fecha|time:"H:i" }}</span>
                            {% endtimezone %}
                            <span class="titulo_noticia"><a href="{{ url }}">{{ titular|truncatechars:"80" }}</a></span><br>
                            <span class="url_noticia">{{ url|truncatechars:"80" }}</span>
                        </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% if num_resultados %}
        <div id="pagination">
    <span class="step-links">
        {% if resultados.has_previous %}
            <a href="{% url 'buscar' %}?q={{ busqueda }}&p={{ resultados.previous_page_number }}">
                <img src="{{ STATIC_URL }}img/back.png" alt="«"/></a>
        {% endif %}

        <span class="current">Página {{ resultados.number }} de {{ resultados.paginator.num_pages }}</span>

        {% if resultados.has_next %}
            <a href="{% url 'buscar' %}?q={{ busqueda }}&p={{ resultados.next_page_number }}">
                <img src="{{ STATIC_URL }}img/next.png" alt="»"/></a>
        {% endif %}
    </span>
        </div>
    {% endif %}
    {% include 'footer.html' %}
{% endblock %}