<div id="footer-inner">
    <ul>
        <li><a href="http://www.as.com"><img class="newspaper greyscale" src="{{ STATIC_URL }}img/as.png"></a></li>
        <li><a href="http://www.marca.com"><img class="newspaper greyscale" src="{{ STATIC_URL }}img/marca.png"></a></li>
        <li><a href="http://www.estadiodeportivo.com"><img class="newspaper greyscale" src="{{ STATIC_URL }}img/estadiodeportivo.png"></a></li>
    </ul>
</div>