{% extends 'base.html' %}

{% comment %} Esto es el template del index de la página, heredado de la base genérica. {% endcomment %}

{% block title %}Football News{% endblock %}

{% block style_css %}css/main.css{% endblock %}

{% block contenido %}
    <div id="cabecera">
        <img src="{{ STATIC_URL }}img/banner.png">

        <form action="{% url 'buscar' %}" method="get">
            <input name="q" id="busqueda" autofocus/><br>
            <button type="submit">Buscar noticia</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}